<div id="altContent">
  <div class="noflash" style="display: none;">
    <p class="noflash-description">
      Vous n'avez pas la dernière version du Lecteur Flash de Macromedia.<br />
      Cliquez sur le lien ci-dessous pour le télécharger.
    </p>
    <p class="noflash-description">
      You don't have the latest version of the Macromedia Flash Player.<br />
      Click on the link below to install the latest version.
    </p>
    <table class="noflash-links">
      <tr>
        <td>
          <a class="noflash-link" href="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">
            &#8594; Installer le lecteur flash
          </a>
        </td>
        <td>
          <a class="noflash-link" href="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">
            &#8594; Install Flash Player
          </a>
        </td>
      </tr>
      <tr class="noflash-mobile" style="display: none;">
        <td colspan="2">
          <hr class="noflash-separator" />
        </td>
      </tr>
      <tr class="noflash-mobile" style="display: none;">
        <td>
          <a class="noflash-link" href="./?version=html">
            &#8594; Visualiser la version HTML
          </a>
        </td>
        <td>
          <a class="noflash-link" href="./?version=html">
            &#8594; Open the HTML version
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

<script src="global_conf/flash.js"></script>
